@model DodgeDynasty.Models.PlayerRankModel
@{
    ViewBag.Title = "Best Available";
}
@section scripts {
	<script type="text/javascript" src="@Url.Script("~/Scripts/BestAvail.js")"></script>
	<script type="text/javascript" src="@Url.Script("~/Scripts/PlayerRanksShared.js")"></script>
}
<div id="bestAvailable">
	@if (Model.Options.IsComparingRanks)
	{
		@Html.Partial(Url.Content("../Draft/ComparePlayerRanksPartial"), Model)
	}
	else
	{
		@Html.Partial(Url.Content("../Draft/PlayerRanksPartial"), Model)
	}
</div>
