@model DodgeDynasty.Models.PlayerRankModel

<div id="hqPartial" class="ba-category pr-highlight-section hide-yo-wives">
	<span class="hq-color-span">
		Select Color:  @Html.DropDownList("highlight-color", Model.GetHighlightColors())
	</span>
	@Html.Partial(Url.Content("../Draft/_HighlightQueueInnerPartial"), Model)
</div>