@model DodgeDynasty.Models.PlayerRankModel
@{
	ViewBag.Title = "All Players";
}
@section scripts {
	<script type="text/javascript" src="@Url.Script("~/Scripts/PlayerRanks.js")"></script>
	<script type="text/javascript" src="@Url.Script("~/Scripts/PlayerRanksShared.js")"></script>
}
<div id="allPlayerRanks">
	@{var historyMode = Request.QueryString[DodgeDynasty.Shared.Constants.QS.HistoryMode]; }
	@if (Model.Options.IsComparingRanks && !DodgeDynasty.Shared.Utilities.ToBool(historyMode))
	{
		@Html.Partial(Url.Content("../Draft/ComparePlayerRanksPartial"), Model)
	}
	else
	{
		@Html.Partial(Url.Content("../Draft/PlayerRanksPartial"), Model)
	}
</div>
