@model DodgeDynasty.Models.PlayerRankModel
@{
    ViewBag.Title = "All Players";
}
@section scripts {
	<script type="text/javascript" src="@Url.Script("~/Scripts/PlayerRanks.js")"></script>
	<script type="text/javascript" src="@Url.Script("~/Scripts/PlayerRanksShared.js")"></script>
}
<div id="allPlayerRanks">
	@Html.Partial(Url.Content("../Draft/PlayerRanksPartial"), Model)
</div>
