@model string

<div class="test-audio page-section hide-yo-wives">
	<div>@Model</div>
	<div class="test-audio-enabled page-section vert-middle">
		<span class="test-audio-note">NOTE:  Does not work on mobile devices. <br />(Click "Test Audio" to try on your machine)</span>
		<span><input class="test-audio-btn" type="button" value="Test Audio" /></span>
	</div>
	<div class="test-audio-disabled page-section vert-middle">
		<span class="test-audio-err-note invalid">Warning:  Mobile device detected; Audio auto-playback does not work on mobile browsers.</span>
	</div>
</div>