@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Unauthorized";
}

<hgroup class="title">
    <h1 class="error">Unauthorized.</h1>
    <h2 class="error">We're sorry, you are unauthorized to view this page.</h2>
</hgroup>
