@model DodgeDynasty.Models.Types.AdjustedPlayer

@if (Model.DraftsRanks.Count == 1 && Model.DraftsRanks[0].UserId == null)
{
	<td>@Model.DraftsRanks[0].Text</td>
}
else
{
	<td>
		@{var drText = (Model.DraftsRanks[0].UserId == null) ? @Model.DraftsRanks[0].Text : "<Private Ranking>";}
		@drText (<a href="#" class="pa-dr-more-link">&amp; more...</a>)
	<div id="pa-more-id-@Model.AdjustmentId" class="pa-dr-more-dialog center hide-yo-wives" title="Drafts/Ranks Found">
		<br />
		@foreach (var draftRank in Model.DraftsRanks)
		{
			@draftRank.Text<br />
		}
	</div>
</td>
}