@model DodgeDynasty.Models.ManageDraftsModel

@{
	ViewBag.Title = "Manage Leagues";
}
@section scripts {
}
<div id="manageLeagues">
	<div class="large-page-header">Manage Drafts</div>
	<div class="page-entries">
		@{if (Model.LeagueId != null) {
			<div class="page-entry">
				<a href="../AddDraft/@Model.LeagueId">&lt;Add New Draft&gt;</a>
			</div>
		}}
		<div class="page-section">
			@foreach (var draft in Model.LeagueDrafts.OrderByDescending(o => o.LastUpdateTimestamp))
			{
				<div class="page-entry">
					<a href="@Url.Content("/Admin/EditDraft/" + draft.DraftId)">@draft.DraftYear @draft.LeagueName</a>
				</div>
			}
		</div>
	</div>

</div>