@model DodgeDynasty.Models.ManageLeaguesModel

@{
	ViewBag.Title = "Manage Leagues";
}
@section scripts {
}
<div id="manageLeagues">
	<div class="large-page-header">Manage Leagues</div>
	<div class="page-entries">
		<div class="page-entry">
			<a href="AddLeague">&lt;Add New League&gt;</a>
		</div>
		<div class="page-section">
			@foreach (var league in Model.AllLeagues.OrderBy(o => o.LastUpdateTimestamp))
			{
				<div class="page-entry">
					<a data-league-id="@league.LeagueId" href="ManageLeague/@league.LeagueId">@league.LeagueName</a>
				</div>
			}
		</div>
	</div>

</div>