@model DodgeDynasty.Models.Account.UserInfoModel
@{
	ViewBag.Title = "User Info";
}
@section scripts {
	<script type="text/javascript" src="@Url.Content("/Scripts/UserInfo.js")"></script>
}
<div class="large-page-header">@ViewBag.Title</div>
@Html.Partial("UserInfoPartial", Model)