@{
	ViewBag.Title = "Home";
}
    <div class="center">
		@if (DodgeDynasty.Shared.Utilities.IsStartDraftingDomain(Request))
		{
			<a href="@Url.Content("~/Draft/Display")" class="welcome">Start Drafting here!</a>
		}
		else
		{
			<a href="@Url.Content("~/Draft/Display")" class="welcome">Welcome to the Dodge Dynasty League!</a>
		}
    </div>
