@{
	ViewBag.Title = "Home";
}
    <div class="center">
		@if (DodgeDynasty.Shared.Utilities.IsStartDraftingDomain(Request))
		{
			<p><a href="@Url.Content("~/Draft/Display")" class="welcome noline">Welcome to StartDrafting.com!</a></p>
		}
		else
		{
			<p><a href="@Url.Content("~/Draft/Display")" class="welcome noline">Welcome to the Dodge Dynasty League!</a></p>
		}
		<p><a href="@Url.Content("~/Draft/Display")" id="btnStartDrafting">Start Drafting</a></p>
    </div>
