*
{
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
	  -ms-box-sizing: content-box;
          box-sizing: content-box;
}
html
{
	background-color: #efeeef;
	margin: 0;
	padding: 0;
}

body
{
	font-size: 0.9em;
	font-family: "Segoe UI", Arial, Sans-Serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #fff;
	z-index: 12344;
	border-bottom: 1px solid #e6e6e6;
}

.header-top {
	border-top: solid 6px #000;
    color: #333;
}

.small-page-header, .page-header, .large-page-header, .left-small-page-header {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 12px;
	font-weight: bold;
}

.left-small-page-header {
	text-align: left;
}

.small-page-header {
	font-size: 13px;
}
.page-header {
	font-size: 16px;
}
.large-page-header {
	font-size: 24px;
}

.page-header .header-subtext, .large-page-header .header-subtext {
	font-size: 16px;
	font-weight: normal;
}

.page-entries {
	text-align: center;
}

.page-section-large {
	margin-top: 20px;
}

.page-section {
	margin-top: 12px;
}

.page-section-small {
	margin-top: 4px;
}

.page-caption-large {
	margin-bottom: 20px;
}

.page-caption {
	margin-bottom: 12px;
}

.page-caption-small {
	margin-bottom: 4px;
}

.wait {
	cursor: wait !important;
}
.wait > * {
    pointer-events:none;
}

.progress {
	cursor: progress;
}

a
{
	color: #333;
	outline: none;
	text-decoration: underline;
	padding: 0px 1px 0px 1px;
}

a:link, a:visited, a:active, a:hover
{
	color: #333;
}

a:hover
{
	background-color: #c7d1d6;
}

header, footer, hgroup, nav, section
{
	display: block;
}

mark
{
	background-color: #a6dbed;
	padding-left: 5px;
	padding-right: 5px;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.new-line
{
	display: block;
}
.inline-block
{
	display: inline-block;
}
.inline
{
	display: inline;
}

.mid-hrz-margin
{
	margin: 0px 5px;
}

.clear-fix:after
{
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

h1, h2, h3, h4, h5, h6
{
	color: #000;
	margin-bottom: 0;
	padding-bottom: 0;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.75em;
}

h3
{
	font-size: 1.2em;
}

h4
{
	font-size: 1.1em;
}

h5, h6
{
	font-size: 1em;
}

h5 a:link, h5 a:visited, h5 a:active
{
	padding: 0;
	text-decoration: none;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper
{
	margin: 0 auto;
}

#body
{
	background-color: #efeeef;
	clear: both;
	padding-bottom: 35px;
}

.main-content
{
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
}

.featured + .main-content
{
	background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper
{
	padding-top: 3px;
}

footer
{
	clear: both;
	background-color: #e2e2e2;
	font-size: .8em;
	height: 215px;
	width: 100%;
}


/* site title
----------------------------------------------------------*/
.site-logo
{
	/*color: #B0E0E6;
	font-family: 'Brush Script MT', 'Brush Script MT Italic', Arial, sans-serif;
	font-size: 27px;*/	
	height: 29px;
	margin: -2px 0px 0px 0px;
	padding-left: 10px;
}
.site-logo-img {
	display: inline;
	height: 29px;
	width: 133px;
}
.site-logo-img-mobile {
	display: none;
}


/* login
----------------------------------------------------------*/
#login
{
	display: block;
	font-size: .85em;
	margin: 0 0 10px;
	text-align: right;
}

#login a
{
	background-color: #d3dce0;
	margin-left: 10px;
	margin-right: 3px;
	padding: 2px 3px;
	text-decoration: none;
}

#login a.username
{
	background: none;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}

#login ul
{
	margin: 0;
}

#login li
{
	display: inline;
	list-style: none;
}


/* menu
----------------------------------------------------------*/
.top-nav{
	min-width: 297px;
	height: 23px;
}
ul.menu
{
	font-family: "Segoe UI", Arial, Sans-Serif;
	font-size: 17px;
	font-weight: 600;
	margin: 0px;
	padding-left: 5px;
	padding-bottom: 5px;
	text-align: right;
}

ul.menu li
{
	margin-top: 1px;
	display: inline;
	list-style: none;
	padding-left: 5px;
}

ul.menu li a, ul.dropdown-menu li
{
	background: none;
	color: #999;
	text-decoration: none;
	padding-bottom: 1px;
}

ul.menu li a:hover
{
	background-color: #EFEEEF;
	color: #333;
	text-decoration: none;
}

ul.menu li.desktopNav
{
	display: inline;
}

ul.menu li.mobileNav
{
	display: none;
	font-size: 16px;
	padding-right: 5px;
}
ul.menu li.mobileNav a {
	color: #333;
}

.navbar-nav {
	/* width: 100%; */
}
.toggle-li {
	font-size: 8px;
}
.navbar-toggle {
  padding: 4px 4px;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-right: 5px;
  margin-bottom: -4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 17px;
  height: 3px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  background-color: #999;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #ddd;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}

.navbar-collapse {
  padding-right: 44px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse.in {
  
}
.navbar-collapse,
.navbar-form {
  border-color: #e6e6e6;
}
.navbar-collapse .menu {
  padding-top: 3px;
  padding-bottom: 4px;
  float: right;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  display: list-item;
}
.dropdown-menu > li > a {
  display: block;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-right: 20px;
  padding-left: 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}

ul.dropdown-menu li {
	padding-left: 0px;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px solid;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

/* page elements
----------------------------------------------------------*/
/* featured */
.featured
{
	background-color: #fff;
}

.featured .content-wrapper
{
	background-color: #7ac0da;
	background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
	background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
	background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
	background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
	color: #3e5667;
	padding: 20px 40px 30px 40px;
}

.featured hgroup.title h1, .featured hgroup.title h2
{
	color: #fff;
}

.featured p
{
	font-size: 1.1em;
}

/* page titles */
hgroup.title
{
	margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2
{
	display: inline;
}

hgroup.title h2
{
	font-weight: normal;
	margin-left: 3px;
}

/* features */
section.feature
{
	width: 300px;
	float: left;
	padding: 10px;
}

/* ordered list */
ol.round
{
	list-style-type: none;
	padding-left: 0;
}

ol.round li
{
	margin: 25px 0;
	padding-left: 45px;
}

ol.round li.zero
{
	background: url("../Images/orderedList0.png") no-repeat;
}

ol.round li.one
{
	background: url("../Images/orderedList1.png") no-repeat;
}

ol.round li.two
{
	background: url("../Images/orderedList2.png") no-repeat;
}

ol.round li.three
{
	background: url("../Images/orderedList3.png") no-repeat;
}

ol.round li.four
{
	background: url("../Images/orderedList4.png") no-repeat;
}

ol.round li.five
{
	background: url("../Images/orderedList5.png") no-repeat;
}

ol.round li.six
{
	background: url("../Images/orderedList6.png") no-repeat;
}

ol.round li.seven
{
	background: url("../Images/orderedList7.png") no-repeat;
}

ol.round li.eight
{
	background: url("../Images/orderedList8.png") no-repeat;
}

ol.round li.nine
{
	background: url("../Images/orderedList9.png") no-repeat;
}

/* content */
article
{
	float: left;
	width: 70%;
}

aside
{
	float: right;
	width: 25%;
}

aside ul
{
	list-style: none;
	padding: 0;
}

aside ul li
{
	background: url("../Images/bullet.png") no-repeat 0 50%;
	padding: 2px 0 2px 20px;
}

.label
{
	font-weight: 700;
}

.center
{
	text-align: center;
}

.bold
{
	font-weight: bold;
}

.inline-label {
	display: inline;
}

.nowrap {
	white-space: nowrap !important;
}

.noline {
	text-decoration: none;
}

.vert-middle {
	vertical-align: middle;
}

/* login page */

#loginForm .validation-error
{
	display: block;
	margin-left: 15px;
}

#loginForm .validation-summary-errors ul
{
	margin: 0;
	padding: 0;
}

#loginForm .validation-summary-errors li
{
	display: inline;
	list-style: none;
	margin: 0;
}

#loginForm input
{
	width: 250px;
}

#loginForm input[type="checkbox"], #loginForm input[type="submit"], #loginForm input[type="button"], #loginForm button
{
	width: auto;
}

#socialLoginForm
{
	margin-left: 40px;
	float: left;
	width: 40%;
}

#socialLoginForm h2
{
	margin-bottom: 5px;
}

#socialLoginList button
{
	margin-bottom: 12px;
}

#logoutForm
{
	display: inline;
}

/* contact */
.contact h3
{
	font-size: 1.2em;
}

.contact p
{
	margin: 5px 0 0 10px;
}

.contact iframe
{
	border: 1px solid #333;
	margin: 5px 0 0 10px;
}

/* forms */
fieldset
{
	border: none;
	margin: 0;
	padding: 0;
}

fieldset legend
{
	display: none;
}

fieldset ol
{
	padding: 0;
	list-style: none;
}

fieldset ol li
{
	padding-bottom: 5px;
}

label
{
	display: block;
	font-size: 1.1em;
	font-weight: 600;
}

label.checkbox
{
	display: inline;
}

input, textarea
{
	border: 1px solid #e2e2e2;
	background: #fff;
	color: #333;
	font-size: 1.0em;
	margin: 5px 0 6px 0;
	padding: 5px;
	width: 200px;
}

textarea
{
	font-family: inherit;
	width: 500px;
}

input:focus, textarea:focus
{
	border: 1px solid #7ac0da;
}

input[type="checkbox"]
{
	background: transparent;
	border: inherit;
	width: auto;
}

input[type="submit"], input[type="button"], button
{
	background-color: #d3dce0;
	border: 1px solid #787878;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: 600;
	padding: 7px;
	margin-right: 4px;
	width: auto;
}

td input[type="submit"], td input[type="button"], td button
{
	font-size: 1em;
	padding: 4px;
	margin-right: 4px;
}

/* info and errors */
.message-info
{
	border: 1px solid;
	clear: both;
	padding: 10px 20px;
}

.message-error
{
	clear: both;
	color: #e80c4d;
	font-size: 1.1em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.message-success
{
	color: #7ac0da;
	font-size: 1.3em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.error
{
	color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error
{
	color: #FF0000;
	font-weight: bold;
}

.field-validation-valid
{
	display: none;
}

input.input-validation-error
{
	border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
	border: 0 none;
}

.validation-summary-errors
{
	color: #e80c4d;
	font-weight: bold;
	font-size: 1.1em;
}

.validation-summary-valid
{
	display: none;
}


/* tables
----------------------------------------------------------*/
table
{
	border-collapse: collapse;
	border-spacing: 0;
	border: 0 none;
	font-size: inherit;
}

caption 
{
	text-align: center;
	font-weight: bold;
}

th
{
	/*font-size: 1.2em;*/
	text-align: left;
	font-size: 0.8em;
	border: none 0px;
	padding-left: 0;
}

th a
{
	display: block;
	position: relative;
}

th a:link, th a:visited, th a:active, th a:hover
{
	color: #333;
	font-weight: 600;
	text-decoration: none;
	padding: 0;
}

th a:hover
{
	color: #000;
}

th.asc a, th.desc a
{
	margin-right: .75em;
}

th.asc a:after, th.desc a:after
{
	display: block;
	position: absolute;
	right: 0em;
	top: 0;
	font-size: 0.75em;
}

th.asc a:after
{
	content: '▲';
}

th.desc a:after
{
	content: '▼';
}

td
{
	padding: 0.25em 0.8em 0.25em 0em;
	border: 0 none;
	text-align: left;
}

tr.pager td
{
	padding: 0 0.25em 0 0;
}


/* jQuery UI
----------------------------------------------------------*/

.ui-corner-all
{
	background: #FFFFFF;
}






/***************************************************************************/
/***************************** CUSTOM STYLES *******************************/
/***************************************************************************/

/* Home / Shared
----------------------------------------------------------*/

ul.menu li a.current-page
{
	background-color: #EFEEEF;
	color: #333;
	text-decoration: none;
}
.welcome 
{
	font-size: 26px;
	font-weight: bold;
}
#btnStartDrafting {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9BF29B), to(#1F6808));
    background-image: -webkit-linear-gradient(top, #9BF29B, #1F6808);
    background-image: -moz-linear-gradient(top, #9BF29B, #1F6808);
    background-image: -ms-linear-gradient(top, #9BF29B, #1F6808);
    background-image: -o-linear-gradient(top, #9BF29B, #1F6808);
    background-image: linear-gradient(to bottom, #9BF29B, #1F6808);
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	display: inline-block;
    padding: 10px 33px 14px 33px;
	margin: 15px 0px 10px 0px;
    border: 1px solid #496e00;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.dd-sub-title
{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 12px;
}
.ui-button-text 
{
	font-size: 0.9em;
}
.ui-autocomplete li 
{
	font-size: 16px;
}
.draft-info
{
	text-align: center;
	font-size: 14px;
}
.draft-history-alert {
	background: #f5d89e;
	padding: 4px 5px;
	margin-bottom: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.latest-draft-link {
	font-weight: bold;
}

.block-error .field-validation-error {
	display: block !important;
}
.block-error .field-validation-valid {
	display: none !important;
}

/* Owner Styles
----------------------------------------------------------*/

.you 
{
	font-weight: bold;
}
.you .ba-player-name 
{
	font-size: 14px !important;
}






/* Draft Display
----------------------------------------------------------*/
#draftDisplay
{
	text-align: center;
	font-size: 0px;
}

.round-picks
{
	display: block;
	white-space: nowrap;
}
.round
{
	clear: both;
	padding: 2px 1px 1px 8px;
	font-size: 10px;
	text-align: left;
}

.round-num
{
	font-weight: bold;
}

.outline
{
	border: 1px solid black;
}

.draft 
{
	display: inline-block;
	text-align: left;
	margin-top: 12px;
}

.draft-pick-outline
{
	clear: both;
	display: inline-block;
	float: none;
	vertical-align: top;
}
.snake-pick
{
	clear: none;
	float: right;
	margin-right: 0px;
}
.pre-snake-pick 
{
	margin-right: 0px;
}
.round-buffer 
{
	margin-right: 1px;
}

.draft-pick
{
	float: none;
	border-width: 3px;
	border-style: solid;
	padding: 1px;
	width: 120px;
	white-space: normal;
	overflow: hidden;
}

.draft-pick.filled, .team-draft-pick.filled
{
	height: 49px;
}

.draft-pick-meta
{
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
	vertical-align: top;
}

.pick-info
{
	float: left;
}

.player-info
{
	float: right;
	vertical-align: top;
}

.pick-num {
	float: left;
	margin-right: 2px;
}
.player-nickname {
	float: left;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	max-width: 56px;
}

.pos
{
	float: right;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
}

.player-nflteam
{
	vertical-align: top;
}

.player-name
{
	display: block;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
    margin-top: 2px;
}

.prev-pick
{
	font-size: 12px;
}

/* Draft Team Display
----------------------------------------------------------*/

.team-pos-label {
	display: inline;
}

.team-content
{
	text-align: center;
	margin-top: 18px;
	white-space: nowrap;
}

.team-name
{
	text-align: center;
}

.team-draft-pick, .team-name
{
	float: left;
	border-width: 3px;
	border-style: solid;
	padding: 1px;
	width: 120px;
	white-space: normal;
	overflow: hidden;
}

.team-name-outline
{
	margin-bottom: 10px;
}

.team
{
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	margin-bottom: 30px;
}

#teamDisplay .outline 
{
	display: block;
	float: left;
}

/* Draft Pick
----------------------------------------------------------*/
.buttons
{
	margin-top: 5px;
}

#playerEntry, #playerEntry .draft-info
{
	margin-bottom: 19px;
}

.your-draft-pick
{
	margin-bottom: 10px;
}

.pick-glance
{
	width: 275px;
	display: inline-block;
}

.current-pick
{
	font-weight: bold;
}

.navLink 
{
	margin-right: 6px;
}
.draft-glance 
{
	margin-bottom: 19px;
}

/* Best Available / Player Rankings
----------------------------------------------------------*/
#bestAvailable, #allPlayerRanks
{
	text-align: center;
}

.ba-rankings 
{
	white-space: nowrap;
}

.rank-header, .rlist-header
{
	text-align: center;
	margin-top: 18px;
	margin-bottom: 12px;
}
.rank-name, .rankings-list
{
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 8px;
}
.more-rank-opts 
{
	font-size: 0.9em;
}

.ba-category 
{
	display: inline-block;
	margin-right: 6px;
}

.ba-category 
{
	vertical-align: top;
}

.ba-category tbody 
{
	border: 1px solid black;
}

.ba-category th 
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.ba-category th:first-child, .ba-category td:first-child {
	padding-left:3px;
}

.ba-category tr:first-child {
	background-color: #DFDFDF;
}

.ba-hide-cat-link, .cr-remove-link {
	cursor: pointer;
}

.ba-header:not(.hq-header) {
    margin-bottom: -3px;
}

.ba-hide-cat-text, .bup-hide-text {
	display: inline-block;
	font-weight: normal;
	font-size: 11px;
}

.ba-hide-cat-text {
	vertical-align: middle;
	padding-bottom: 4px;
}

.expand 
{
	text-align: center;
	background-color: #DFDFDF;
}
.ba-draft-team
{
}
.ba-selected
{
	font-size: 0.8em;
	text-decoration: line-through;
	border-width: 2px;
	border-style: solid;
	background-color: #DFDFDF;
}
.pr-toggle-links, .pr-highlight-links {
	margin-top: 4px;
}
.pr-toggle-links {
	font-size: 10px;
}
.ba-bye-week {
	font-size: 10px;
}

.ba-category th:last-child, .ba-category td:last-child {
	padding-right: 2px;
}
.ba-table {
	margin: 0 auto;
}
.ba-player-row {
	border-bottom: 1px solid silver;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
/*.ba-player-row:nth-last-child(-n+2) {
	border-bottom: none;
}*/
	/*    -------- Highlighting */

.pr-highlight-section {
	display: inline-block;
	min-height: 389.5px;
	border: 2px solid darkblue;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-right: 7px;
	box-shadow: #898989 4px 4px
}
.highlight-locked {
	min-height: 362.5px !important;
}
.hq-color-span {
	display: inline-block;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 3px;
	border-bottom: 2px solid darkblue !important;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}
.hq-header {
	font-size: inherit;
	font-weight: bold;
	padding-top: 5px;
}
.pr-highlight-section table {
	margin: 0px;
}
.pr-highlight-section td {
	padding-right: 6px;
}
.hq-player-th {
	min-width: 110px;
}
.hq-selected
{
	font-size: 0.8em;
	text-decoration: line-through;
	border-width: 2px;
	border-style: solid;
}
.hq-delete-span {
	display: inline-block;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.hq-empty-msg {
	width: 220px;
	white-space: normal;
}
.hq-copy-text {
	font-size: 13px;
}

	/*    -------- Compare Ranks */

.cr-add-compare {
	padding-top: 30px;
	text-align: center;
	white-space: normal;
	cursor: initial !important;
}
.cr-add-rank-content, .cr-add-rank-content div {
	margin: 0 auto;
}
.cr-add-rank-msg {
	width: 232px;
}
.cr-add-rank-text {
	cursor: pointer;
}
.cr-add-rank-text, .cr-show-avg {
	margin-right: 5px;
	margin-left: 5px;
}
.cr-add-rank img {
	vertical-align: bottom;
}
.cr-lbl-show-avg {
	display: inline;
	font-size: 14px;
	font-weight: normal;
}
.cr-chk-show-avg {
	vertical-align: middle;
}
.cr-avg-ranks {
	margin-top: 20px;
}


/* RankingsList / Setup Rank
----------------------------------------------------------*/
.note-text 
{
	font-size: 11px;
}
.sr-ranking-hdr {
	font-size: 16px;
	font-weight: bold;
	margin-top: -2px;
}
.rank-paste-section {
	height: 80px;
}
.rank-paste-new {
	line-height: 35px;
	font-size: 13px;
}
#setupRank 
{
	text-align: center;
}
.rlist-entries
{
	margin-top: 12px;
}
.personal-rank-name
{
	font-size: 1.0em;
	margin-top: 2px;
	margin-bottom: 12px;
}
.personal-rank-name input
{
	font-size: 1.0em;
	width: 255px;
}
.rname-input-div 
{
	display: inline;
}
.sr-outer-section
{
	display: inline-block;
	margin: 12px 0px 12px 0px;
}
.sr-new-player {
	margin: 2px 0px 4px 0px;
}
.rank-setup-section, .rank-avail-section
{
	display: inline-block;
	vertical-align: top;
}
.rank-setup-section
{
	margin: 0px 1px 20px 1px;
    border: 2px solid navy;
    border-radius: 6px;
    padding: 3px 4px 8px 4px;
    box-shadow: #898989 4px 4px;
}
.rank-avail-section {
	margin: 10px 30px 20px 30px;
}
/*
.player-rank-entry {
	border-bottom: 1px dotted darkgray;
}
.player-rank-entry:nth-last-child(-n+2) {
	border-bottom: none;
}
*/
.rank-vertical-controls, .ranked-player, .rank-change-controls, .rank-move-to
{
	float: left;
}
.rank-vertical-controls 
{
	width: 16px;
	font-size: 0px;
}
.rank-change-controls
{
	width: 38px;
	white-space: nowrap;
}
.rank-change-controls img
{
	vertical-align: middle;
	margin-top: -3px;
}
.rank-move-up, .rank-move-up img
{
	vertical-align: bottom;
}
.rank-move-down, .rank-move-down img
{
	vertical-align: top;
}
.ranked-player 
{
	margin: 0px 2px 0px 2px;
}
.player-rank-num 
{
	width: 24px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}
.player-select 
{
	display: inline-block;
}
select.player-select 
{
	width: 229px;
}
span.player-select 
{
	font-size: 14.5px;
	width: 231px;
}
.clear-ranks {
	display: inline-block;
	margin-top: 8px;
	font-size: 13px;
}
.messages-ph
{
	min-height: 12px;
}
.error-messages, .error-messages {
	text-align: center;
}
.rank-saved 
{
	color: #FF3300;
}
.invalid 
{
	color: #FF0000;
	font-weight: bold;
}
.invalid-border 
{
	border: 2px solid #FF0000 !important;
}
.invalid-border-small
{
	border: 1px solid #FF0000 !important;
}
.rank-copy-select 
{
	max-width: 240px;
}
.copy-row-count 
{
	width: 27px;
}
#addNewPlayerDialog, .playerDialog 
{
	font-size: 0.80em;
}
#addNewPlayerDialog label, .playerDialog label
{
	font-size: 1.0em !important;
	font-weight: bold;
}
#addNewPlayerDialog .ui-button-text, .playerDialog .ui-button-text
{
	font-size: 0.9em;
}
#addNewPlayerDialog .field-validation-error, .playerDialog .field-validation-error
{
	display: block;
	font-size: 12px;
}
.bup-table {
	margin: 0 auto;
	font-size: 13px;
}
.bup-ctrls {
	text-align: center;
}
.bup-ctrls img {
	vertical-align: middle;
	margin-top: -3px;
}
.bup-add-multi-text {
	width: 298px;
	margin: 12px auto 0px auto;
}
.bup-paste-options li {
	padding-bottom: 10px;
}
.bup-player-name {
	padding-right: 0px !important;
}
.bup-paste-options {
	padding-left: 10px;
}
#bup-add-all {
	font-size: 15px;
}

/* Setup Draft
----------------------------------------------------------*/

#setupDraft .draft
{
	margin-top: 12px;
}
#setupDraft select 
{
	width: 77px;
	font-size: 11px;
}
#setupDraft .round-picks
{
	display: block;
}
#setupDraft .round
{
	font-size: 13px;
}
#setupDraft .round img
{
	vertical-align: bottom;
}

#setupDraft .setup-pick-outline
{
	clear: both;
	display: inline-block;
	float: none;
	margin-right: 2px;
	vertical-align: middle;
	width: 113px;
	height: 35px;
}
#setupDraft .setup-pick-outline img
{
	margin: 0px;
	padding: 0px;
}
.sd-pick-num
{
	display: inline-block;
	font-family: Arial;
	font-size: 10px;
	width: 18px;
	text-align: right;
}
#setupDraft .buttons 
{
	margin-top: 10px;
}
.hide-yo-kids
{
	display: none;
}
.hide-yo-wives
{
	display: none !important;
}
.hide-yo-husbands-too
{
	visibility: hidden;
}
.round-picks img 
{
	vertical-align: middle;
}
.picked-player {
	width: 113px;
}
.picked-player-name {
	float: left;
	display: inline-block;
	font-size: 10px;
	margin-left: 1px;
	width: 100px;
	overflow: hidden;
}
.delete-picked-player {
	font-size: 11px;
	margin-left: 2px;
}


/* Manage/Add Leagues
----------------------------------------------------------*/
#addEditLeague label
{
	font-size: 14px;
	display: inline-block;
}

#addEditLeague page-entries
{
	width: 350px;
	margin: 0 auto;
}

#addEditLeague .num-input
{
	width: 20px;
}

#addEditLeague label, #addEditLeague span {
	display: inline-block;
}

#addEditLeague .lo-color {
	margin-top: 2px;
}

#addEditLeague .league-owner-entry {
	min-width: 436px;
}
#addEditLeague .lo-entry-header {
	display: block;
}
#addEditLeague .lo-owner-header {
	width: 148px;
}
#addEditLeague .lo-teamname-header {
	width: 212px;
}
#addEditLeague .lo-active-header {
	width: 46px;
}
#addEditLeague .lo-color-header {
	width: 115px;
}
#addEditLeague .lo-audio-header {
	width: 118px;
}
#addEditLeague .lo-controls-header {
	width: 44px;
}

#addEditLeague .league-name, #addEditLeague .lo-team-input
{
	width: 200px;
}
#addEditLeague .lo-team-input {
	margin: 2px 0px;
}
#addEditLeague .lo-select {
	width: 145px;
}
#addEditLeague .lo-color-select {
	width: 105px;
}

#addEditLeague .lo-selected-color {
	border: 3px solid;
	padding: 1px 1px;
	font-size: 12px;
}

#addEditLeague .owner-controls, #addEditLeague .lo-active {
	width: 40px;
	vertical-align: middle;
}

#addEditLeague .lo-teamname-header, #addEditLeague .lo-active-header, #addEditLeague .lo-color-header, #addEditLeague .lo-controls-header, 
#addEditLeague .lo-audio-header, #addEditLeague .lo-team-name, #addEditLeague .lo-active, #addEditLeague .lo-color, #addEditLeague .lo-audio, 
#addEditLeague .owner-controls {
	margin-left: 5px;
}

#addEditLeague .league-owners {
	min-width: 732px;
}

.league-commish {
	display: inline-block;
	margin-bottom: 4px;
}
.commish-owner-controls {
	display: inline;
	font-size: 12px;
}

/* Manage/Add Drafts
----------------------------------------------------------*/
#addDraft label {
	display: inline-block;
	margin-left: 5px;
}
.add-draft-date {
	width: 125px;
}
.add-draft-time {
	width: 100px;
}
.add-draft-year {
	width: 50px;
}
.add-draft-location {
	width: 150px;
}
.ad-num-owners, .ad-num-rounds, .ad-num-keepers {
	width: 30px;
}
.ad-pick-time {
	width: 42px;
}
#addEditDraftForm {
    min-width: 510px;
}

#addDraft .league-owner-entry {
	min-width: 205px;
}
#addDraft .lo-owner-header {
	width: 148px;
}
#addDraft .lo-select {
	width: 145px;
}
#addDraft .owner-controls {
	width: 40px;
	vertical-align: middle;
}

/* Activate Draft
----------------------------------------------------------*/
.act-draft {
	display: inline-block;
	width: 240px;
	text-align: right;
}

.act-draft-links {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	width: 240px;
	text-align: left;
}

.act-draft-links a {
	margin-left: 5px;
}

.act-draft-links .activate {
	color: #10B910;	/* green */
}
.act-draft-links .deactivate {
	color: #FF0000;	/* red */
}


/* Draft History
----------------------------------------------------------*/
.dh-header {
	font-weight: bold;
}
.dh-year, .dh-winner, .dh-runner-up {
	display: inline-block;
}
.dh-viewchk-section {
	display: none;
}
.dh-view-label {
	display: inline;
}
.dh-header .dh-year, .dh-header .dh-winner, .dh-header .dh-runner-up {
	border: 1px dotted black;
}
.dh-year {
	width: 215px;
}
.dh-winner {
	width: 140px;
}
.dh-runner-up {
	width: 140px;
}
.dh-entry span {
	vertical-align: top;
}

/* User Info
----------------------------------------------------------*/

#userInfo {
	min-width: 592px;
}

#userInfo label, #userInfo span {
	display: inline-block;
}

.mi-user-name {
	font-size: 14px;
	font-weight: normal;
}
.mi-user-header, .mi-user-name {
	width: 110px;
}
.mi-first-header, .mi-first-name {
	width: 110px;
}
.mi-last-header, .mi-last-name {
	width: 140px;
}
.mi-nick-header, .mi-nick-name {
	width: 100px;
}

.mi-league-header, .mi-league {
	width: 180px;
}
.mi-teamname-header, .mi-team-name {
	width: 200px;
}
.mi-color-header, .mi-color {
	width: 120px;
	margin-left: 10px;
}
.mi-active-header, .mi-active {
	width: 60px;
}
.mi-audio-header, .mi-audio {
	width: 50px;
}
.mi-league, .mi-team-name, .mi-color, .mi-active {
	vertical-align: middle;
}
.mi-league-name {
	padding-bottom: 2px;
}

.mi-selected-color {
	border: 3px solid;
	padding: 1px 1px;
	font-size: 12px;
}
.mi-color-select {
	font-size: 12px;
}

.error-messages .validation-summary-errors {
	display:table;
	margin:0 auto;
}

		/* --------- Audio ----------*/

.test-audio {
	width: 515px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border: 2px solid silver;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
}

.test-audio-note {
	vertical-align: middle;
	width: 60%;
}

#disable-browser-audio {
	margin: 0px;
	vertical-align: bottom;
}




/* Messages (menu & tab)
----------------------------------------------------------*/
/* Menu */
.toggle-msgs, .menu-msgs {
	font-size: 10px;
	line-height: 13px;
	color: white;
	background-color: skyblue;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 1px;
	margin-bottom: 4px;
	display: inline-block;
	vertical-align: top;
	height: 15px;
	width: 15px;
	text-align: center;
}

.ease-hide {
	width: 0px;
    /*-webkit-transition: width 0.35s linear;
    -moz-transition: width 0.35s linear;
    -o-transition: width 0.35s linear;
    transition: width 0.35s linear;*/
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .25s;
       -o-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: width, display;
       -o-transition-property: width, display;
          transition-property: width, display;
}

.toggle-msgs-section {
	display: inline-block;
	margin-left: -8px;
	min-width: 10px;
	font-size: 18px !important;
}

.menu-msgs-section {
	margin-left: -3px;
}

#toggle-msgs-link:hover
{
	background-color: inherit;
}

/* Page/Tabs */
#tabs { visibility: hidden; }
#tabs.ui-tabs { visibility: visible !important; }

#messages .ui-state-default, .ui-state-hover {
	background: #F5F5F5;
}

#messages .ui-state-active {
	background: #FFFFFF;
}

#messages .ui-widget-header {
	background-color: skyblue;
	border: none;
}

#messages .ui-widget {
	font-family: "Segoe UI", Arial, Sans-Serif;
	font-size: 15px;
}

#messages #tabs {
	min-height: 250px;
}

#draft-chat-tab {
	padding-top: 25px;
}

.message-entry {
	margin-bottom: 22px;
}

.message-header {
	font-size: 11px;
	font-weight: bold;
}

.message-title {
	font-size: 16px;
}

.message-text {
	margin-top: 4px;
}

.msg-add-section {
	text-align: center;
	margin-bottom: 15px;
}

.msg-add-link {
	font-size: 14px;
}

.add-msg-title, .add-msg-text {
	width: 750px;
}
.add-msg-text {
	height: 150px;
}
.rte {
	height: 20px;
	width: 15px;
	margin-right: 0px;
	vertical-align: bottom;
}
.msg-to-section {
	margin-bottom: 5px;
}

/* Draft Chat Messages (tab)----------------------------------------------------------*/
.draft-chat-section {
	margin-bottom: 20px;
}
.draft-chat-entry {
	font-size: 12px;
}

/* Draft Chat
----------------------------------------------------------*/
.dchat-window, .dchat-window-error {
    position:fixed;
    bottom:5px;
    right:15px;
	height: 35px;
	width: 430px;
	font-family: "Segoe UI", Arial, Sans-Serif;
	font-size: 14px;
	border: 1px solid darkgray;
	background-color: #EEEEEE;
	border-radius: 4px;
	webkit-border-radius: 4px;
	vertical-align: top;
	z-index: 100;
}
.dchat-header {
	padding: 1px;
	height: 33px;
}
.dchat-toggle, .dchat-close {
	float: right;
	display: inline-block;
	border: 1px solid darkgray;
	border-radius: 3px;
	webkit-border-radius: 3px;
}
.dchat-close-link {
	display: inline-block;
	padding: 6px 3px;
}
.dchat-toggle-link {
	display: inline-block;
	padding: 6px 20px;
}
.dchat-ease-expand {
	height: 275px;
    -webkit-transition: height 0.10s linear;
    -moz-transition: height 0.10s linear;
    -o-transition: height 0.10s linear;
    transition: height 0.10s linear;
}
.dchat-ease-collapse {
	height: 35px;
    -webkit-transition: height 0.10s linear;
    -moz-transition: height 0.10s linear;
    -o-transition: height 0.10s linear;
    transition: height 0.10s linear;
}
.dchat-preview {
	width: 350px;
	min-height: 28px;
	font-size: 14px;
	display: inline-block;
	padding-top: 4px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}
.dchat-prev-content {
	vertical-align: middle;
}
.dchat-prev-outline, .draft-chat-outline {
	display: inline-block;
	font-size: 10px;
	border: 1px solid black;
	border-radius: 7px;
	webkit-border-radius: 7px;
}
.dchat-prev-holder {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid;
	border-radius: 6px;
	webkit-border-radius: 6px;
	padding: 0px 2px;
}
.dchat-prev-stamp, .draft-chat-stamp {
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	border: 2px solid;
	border-radius: 6px;
	webkit-border-radius: 6px;
	padding: 1px;
}
.dchat-body {
	padding: 1px;
	height: 210px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
}
.dchat-footer {
	height: 27px;
}
.dchat-footer input, .dchat-footer button {
	vertical-align: top;
}
.dchat-body, .dchat-footer {
	width: 428px;
}
.dchat-input {
	padding: 5px;
	margin: 1px;
	height: 12px;
	width: 369px;
	border: 1px solid lightgray;
	border-radius: 3px;
	webkit-border-radius: 3px;
}
.dchat-send-msg {
	height: 20px;
	width: 41px;
	padding: 1px;
	margin: 1px -3px;
	font-size: 13px;
	border: 1px solid darkgray;
	border-radius: 3px;
	webkit-border-radius: 3px;
}
.dchat-controls {
	display: inline;
}

.dchat-window-error .dchat-preview {
	width: 276px;
	height: 25px;
	padding: 1px;
	border-radius: 3px;
	webkit-border-radius: 3px;
}
.dchat-window-error .dchat-body {
	width: 356px;
	border-radius: 3px;
	webkit-border-radius: 3px;
}
.dchat-window-error .dchat-prev-content {
	display: inline-block;
	padding-top: 4px;
}
.force-dchat {
	color: #1111EE !important;
}


/* Player Adjustments
----------------------------------------------------------*/
.disp-table
{
	min-width: 1024px;
	margin: 0 auto;
	border: 1px solid black;
}

.disp-table tr:first-child
{
	border: 1px solid black;
}

.disp-table th
{
	padding: 1px 5px;
	border: 1px solid black;
}

.disp-table td
{
	padding: 1px 5px;
	border: 1px dashed black;
}
.pa-toggle-text {
	font-size: 12px;
	font-weight: normal;
}
.pa-entry-links {
	white-space: nowrap;
}
#playerAdjustments .activate {
	color: #10B910 !important;
}
#playerAdjustments .deactivate {
	color: #FF0000 !important;
}
.visible-dialog {
	overflow: visible !important;
}
.pa-player-id {
	display: inline;
	width: 40px;
	margin: 0px 5px 5px 5px;
}
.pa-status-label {
	display: inline;
	margin-left: 14px;
}



/* Rank Adjustments
----------------------------------------------------------*/
.small-dialog
{
	font-size: 0.80em;
}
.small-dialog label
{
	font-size: 1.0em !important;
	font-weight: bold;
}
.small-dialog .ui-button-text
{
	font-size: 0.9em;
}
.small-dialog .field-validation-error
{
	display: block;
	font-size: 12px;
}
#raf-rank-rname {
	width: 200px;
}
#raf-rank-url {
	width: 415px;
}
#raf-rank-year {
	width: 50px;
}
#raf-rank-date {
	width: 100px;
}
#raf-rank-draft-id {
	width: 50px;
}
#importMaxRowCount {
	width: 33px;
}




/* RESPONSIVE STYLES
   Display
----------------------------------------------------------*/

@media screen and (max-width: 600px)
{
	.mobile-hide {
		display: none;
	}
	.site-logo {
		padding-left: 6px;
		padding-top: 4px;
		height: 22px;
	}
	.site-logo-img {
		display: none;
	}
	.site-logo-img-mobile {
		display: inline;
		height: 22px;
		width: 36px;
	}
	
	.header-freeze header {
		width: 100%;
		position: fixed;
		top: 0;
	}
	.header-freeze .content-width {
		margin-top: 35px;
	}

	ul.menu li.desktopNav {
		display: none;
	}
	ul.menu li.mobileNav {
		display: inline;
	}
	.draft
	{
		margin-top: 5px;
	}
	.draft, .round
	{
		text-align: center;
	}
	.round-picks
	{
		margin-bottom: 12px;
	}
	.draft-pick-outline, .team-name-outline
	{
		display: block;
		float: none;
		margin-right: 0px;
	}
	.snake-pick
	{
		float: none;
		margin-right: 0px;
	}
	.pre-snake-pick 
	{
		margin-right: 0px;
	}
	.round-buffer 
	{
		margin-right: 0px;
	}
	.draft-pick
	{
		float: none;
		width: 202px;
	}
	.draft-pick.filled
	{
		height: auto;
		min-height: auto;
	}
	.draft-pick-meta
	{
		line-height: 11px;
	}
	.player-nickname {
		max-width: 100px;
	}
	.pos
	{
		font-size: 12px;
	}
	.team-content 
	{
		white-space: normal;
	}
	.glance 
	{
		display: block;
		clear: both;
	}
	.pick-glance 
	{
		display: block;
		width: 100%;
	}
	.team-glance 
	{
		display: block;
		margin-left: 12px;
	}
	.current-pick 
	{
		margin-top: 8px;
		margin-bottom: 8px;
	}
	/* Best Available
	------------------------------------*/
	table
	{
		margin: auto;
		max-width: 295px;
	}
	.ba-category 
	{
		display: block;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.ba-category td {
		max-width: 130px;
		white-space: normal;
		padding-right: 0.5em;
	}
		/*    -------- Highlighting */
	.pr-highlight-section {
		display: inline-block;
		margin-right: 0px;
	}
	.pr-highlight-section td {
		max-width: 120px;
		padding-right: 3px;
	}
		/*    -------- Compare Ranks */
	.cr-add-compare {
		padding-top: 15px;
	}
	/* Setup Draft
	------------------------------------*/
	#setupDraft .draft, .round
	{
		text-align: left;
	}
	#setupDraft .draft-pick-outline, #setupDraft .team-name-outline
	{
		display: inline-block;
	}
	#setupDraft .round-picks
	{
		margin-bottom: 0px;
	}
	/* Ranks / Setup Rank
	------------------------------------*/
	.rname-input-div 
	{
		display: block;
	}
	.player-rank-entry 
	{
		min-width: 278px;
	}
	.sr-plyr-select-col {
		width: 192px;
		display: inline-block;
	}
	span.player-select 
	{
		font-size: 13px;
		width: 192px;
	}
	select.player-select 
	{
		font-size: 13px;
		max-width: 178px;
		padding: 0px;
	}
	.personal-rank-name input
	{
		width: 250px;
	}
	.sr-outer-section
	{
		display: block;
	}
	.rank-avail-section {
		margin: 10px;
	}
	.bup-player-name {
		max-width: 175px !important;
	}
	.bup-add-multi-text {
		width: auto;
	}
	
	/* Activate Draft
	------------------------------------*/
	.act-draft, .act-draft-links
	{
		width: auto;
		text-align: center;
	}
	.act-draft-links
	{
		display: block;
	}

	/* Draft History
	------------------------------------*/
	.dh-header, .dh-winner, .dh-runner-up {
		display: none;
	}
	.dh-viewchk-section {
		display: block;
	}
	.dh-view-winners {
		display: inline-block !important;
	}
	.dh-mobile-view {
		min-width: 502px;
	}
	
	/* User Info
	------------------------------------*/

	#userInfo {
		min-width: 200px;
	}	
	.mi-user-entry {
		display: inline-block;
	}
	.mi-user-entry-header, .mi-user-entry-name {
		float: left;
	}
	.mi-user-entry-header label, .mi-user-entry-name input {
		display: block !important;
		width: 115px;
		margin-bottom: 5px;
	}
	.mi-user-entry-header label {
		height: 28px;
		margin-top: 2px;
	}
	.mi-user-entry-name input{
		margin-top: 0px;
	}
	.mi-league-entry-section {
		display: block;
		border: 1px solid black;
		border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.mi-league-entry-header, .mi-league-entry {
		min-width: 500px;
	}
	.mi-league-name {
		overflow: hidden;
		white-space: nowrap;
	}
	.mi-team-input {
		width: 150px;
	}
	.mi-league-header, .mi-league {
		width: 139px;
	}
	.mi-teamname-header, .mi-team-name {
		width: 175px;
	}
	.mi-color-header, .mi-color {
		width: 112px;
	}
	.mi-active-header, .mi-active {
		width: 58px;
	}


	/* Messages (tab)
	------------------------------------*/
	.message-meta-hyphen {
		display: none;
	}
	.message-datetime {
		display: block;
	}

	/* Draft Chat Messages (tab)
	------------------------------------*/
	.draft-chat-link {
		font-size: 14px;
	}
	
	/* Draft Chat
	------------------------------------*/
	.dchat-window, .dchat-window-error {
		font-size: 12px;
		height: 32px;
		width: 285px;
	}
	.dchat-ease-collapse {
		height: 32px;
	}
	.dchat-ease-expand {
		height: 226px;
	}
	.dchat-preview {
		font-size: 12px;
		min-height: 28px;
		width: 205px;
	}
	.dchat-body {
		height: 163px;
		width: 283px;
	}
	.dchat-header {
		height: 30px;
	}
	.dchat-footer {
		width: 285px;
	}
	.dchat-input {
		width: 225px;
		margin-left: 1px;
	}
	.dchat-window-error .dchat-preview {
		width: 196px;
	}
	.dchat-window-error .dchat-body {
		width: 276px;
	}
	.dchat-prev-stamp, .draft-chat-stamp {
		font-size: 10px;
	}
	.dchat-prev-holder {
		font-size: 11px;
	}

	/* Misc Mobile
	------------------------------------*/
	
	.mobile-touch-scroll {
		height: 100%;
		width: 100%;
		overflow-y: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.mobile-sect-border {
	    border: 1px solid black;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 5px 0px;
	}
}

/* Tablets/Phablets */
@media screen and (min-width: 601px)
{
	.possible-touch .draft-container, .possible-touch .team-container, .possible-touch .rank-container {
		height: 100%;
		width: 100%;
		overflow-y: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.possible-touch .content-width {
		float: none;
		min-width: 0%;
	}
}

/* END RESPONSIVE STYLES
----------------------------------------------------------*/
















/* Bootstrap Nav/Dropdown styles
----------------------------------------------------------*/

.navbar-nav > li {
	float: left;
	margin-left: 5px;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.open > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  right: -43px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

@media (max-width: 600px) {
  ul.navbar-nav {
	padding-left: 0px;
  }
  ul.navbar-nav > li {
    display: block;
	float: none;
	margin-top: 10px;
	margin-left: 0px;
	padding-left: 0px;
  }
  .navbar-collapse {
	padding-right: 0px;
  }
  .navbar-collapse .menu {
	float: none;
	padding-bottom: 8px;
  }
  .nav > li > a {
	padding-right: 44px;
  }
  .navbar-toggle {
	  margin-right: 3px;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
	text-align: right;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
	padding-right: 53px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
