html
{
	background-color: #efeeef;
	margin: 0;
	padding: 0;
}

body
{
	background-color: #fff;
	border-top: solid 6px #000;
	color: #333;
	font-size: 0.9em;
	font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
}

.content-width {
    float: left;
    min-width: 100%;
}

.page-header, .large-page-header {
	text-align: center;
	margin-top: 18px;
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: bold;
}

.large-page-header {
	font-size: 24px;
}

.page-entries {
	text-align: center;
}

.page-section-large {
	margin-top: 18px;
}

.page-section {
	margin-top: 12px;
}

a
{
	color: #333;
	outline: none;
	text-decoration: underline;
	padding: 0px 1px 0px 1px;
}

a:link, a:visited, a:active, a:hover
{
	color: #333;
}

a:hover
{
	background-color: #c7d1d6;
}

header, footer, hgroup, nav, section
{
	display: block;
}

mark
{
	background-color: #a6dbed;
	padding-left: 5px;
	padding-right: 5px;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.clear-fix:after
{
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

h1, h2, h3, h4, h5, h6
{
	color: #000;
	margin-bottom: 0;
	padding-bottom: 0;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.75em;
}

h3
{
	font-size: 1.2em;
}

h4
{
	font-size: 1.1em;
}

h5, h6
{
	font-size: 1em;
}

h5 a:link, h5 a:visited, h5 a:active
{
	padding: 0;
	text-decoration: none;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper
{
	margin: 0 auto;
}

#body
{
	background-color: #efeeef;
	clear: both;
	padding-bottom: 35px;
}

.main-content
{
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
}

.featured + .main-content
{
	background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper
{
	padding-top: 5px;
}

footer
{
	clear: both;
	background-color: #e2e2e2;
	font-size: .8em;
	height: 100px;
	width: 100%;
}


/* site title
----------------------------------------------------------*/
.site-title
{
	color: #c8c8c8;
	font-family: Rockwell, Consolas, "Courier New" , Courier, monospace;
	font-size: 2.3em;
	margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active
{
	background: none;
	color: #c8c8c8;
	outline: none;
	text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login
{
	display: block;
	font-size: .85em;
	margin: 0 0 10px;
	text-align: right;
}

#login a
{
	background-color: #d3dce0;
	margin-left: 10px;
	margin-right: 3px;
	padding: 2px 3px;
	text-decoration: none;
}

#login a.username
{
	background: none;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}

#login ul
{
	margin: 0;
}

#login li
{
	display: inline;
	list-style: none;
}


/* menu
----------------------------------------------------------*/
.top-nav{
	min-width: 256px;
}
ul.menu
{
	font-size: 17px;
	font-weight: 500;
	margin: 0px;
	padding-left: 5px;
	padding-bottom: 7px;
	text-align: right;
}

ul.menu li
{
	margin-top: 1px;
	display: inline;
	list-style: none;
	padding-left: 5px;
}

ul.menu li a, ul.dropdown-menu li
{
	background: none;
	color: #999;
	text-decoration: none;
}

ul.menu li a:hover
{
	background-color: #EFEEEF;
	color: #333;
	text-decoration: none;
}

ul.menu li.desktopNav
{
	display: inline;
}

ul.menu li.mobileNav
{
	display: none;
	font-size: 16px;
	padding-right: 5px;
}
ul.menu li.mobileNav a {
	color: #333;
}

.navbar-nav {
	/* width: 100%; */
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 4px 4px;
  margin: 0px 7px 0px 11px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #999;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 1px;
  background-color: #999;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #ddd;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}

.navbar-collapse {
  max-height: 340px;
  padding-right: 49px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse.in {
  
}
.navbar-collapse,
.navbar-form {
  border-color: #e6e6e6;
}
.navbar-collapse .menu {
  padding-top: 3px;
  padding-bottom: 5px;
  float: right;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  display: list-item;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}

ul.dropdown-menu li {
	padding-left: 0px;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px solid;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

/* page elements
----------------------------------------------------------*/
/* featured */
.featured
{
	background-color: #fff;
}

.featured .content-wrapper
{
	background-color: #7ac0da;
	background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
	background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
	background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
	background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
	color: #3e5667;
	padding: 20px 40px 30px 40px;
}

.featured hgroup.title h1, .featured hgroup.title h2
{
	color: #fff;
}

.featured p
{
	font-size: 1.1em;
}

/* page titles */
hgroup.title
{
	margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2
{
	display: inline;
}

hgroup.title h2
{
	font-weight: normal;
	margin-left: 3px;
}

/* features */
section.feature
{
	width: 300px;
	float: left;
	padding: 10px;
}

/* ordered list */
ol.round
{
	list-style-type: none;
	padding-left: 0;
}

ol.round li
{
	margin: 25px 0;
	padding-left: 45px;
}

ol.round li.zero
{
	background: url("../Images/orderedList0.png") no-repeat;
}

ol.round li.one
{
	background: url("../Images/orderedList1.png") no-repeat;
}

ol.round li.two
{
	background: url("../Images/orderedList2.png") no-repeat;
}

ol.round li.three
{
	background: url("../Images/orderedList3.png") no-repeat;
}

ol.round li.four
{
	background: url("../Images/orderedList4.png") no-repeat;
}

ol.round li.five
{
	background: url("../Images/orderedList5.png") no-repeat;
}

ol.round li.six
{
	background: url("../Images/orderedList6.png") no-repeat;
}

ol.round li.seven
{
	background: url("../Images/orderedList7.png") no-repeat;
}

ol.round li.eight
{
	background: url("../Images/orderedList8.png") no-repeat;
}

ol.round li.nine
{
	background: url("../Images/orderedList9.png") no-repeat;
}

/* content */
article
{
	float: left;
	width: 70%;
}

aside
{
	float: right;
	width: 25%;
}

aside ul
{
	list-style: none;
	padding: 0;
}

aside ul li
{
	background: url("../Images/bullet.png") no-repeat 0 50%;
	padding: 2px 0 2px 20px;
}

.label
{
	font-weight: 700;
}

.center
{
	text-align: center;
}

.bold
{
	font-weight: bold;
}

.inline-label {
	display: inline;
}

/* login page */

#loginForm .validation-error
{
	display: block;
	margin-left: 15px;
}

#loginForm .validation-summary-errors ul
{
	margin: 0;
	padding: 0;
}

#loginForm .validation-summary-errors li
{
	display: inline;
	list-style: none;
	margin: 0;
}

#loginForm input
{
	width: 250px;
}

#loginForm input[type="checkbox"], #loginForm input[type="submit"], #loginForm input[type="button"], #loginForm button
{
	width: auto;
}

#socialLoginForm
{
	margin-left: 40px;
	float: left;
	width: 40%;
}

#socialLoginForm h2
{
	margin-bottom: 5px;
}

#socialLoginList button
{
	margin-bottom: 12px;
}

#logoutForm
{
	display: inline;
}

/* contact */
.contact h3
{
	font-size: 1.2em;
}

.contact p
{
	margin: 5px 0 0 10px;
}

.contact iframe
{
	border: 1px solid #333;
	margin: 5px 0 0 10px;
}

/* forms */
fieldset
{
	border: none;
	margin: 0;
	padding: 0;
}

fieldset legend
{
	display: none;
}

fieldset ol
{
	padding: 0;
	list-style: none;
}

fieldset ol li
{
	padding-bottom: 5px;
}

label
{
	display: block;
	font-size: 1.1em;
	font-weight: 600;
}

label.checkbox
{
	display: inline;
}

input, textarea
{
	border: 1px solid #e2e2e2;
	background: #fff;
	color: #333;
	font-size: 1.0em;
	margin: 5px 0 6px 0;
	padding: 5px;
	width: 200px;
}

textarea
{
	font-family: inherit;
	width: 500px;
}

input:focus, textarea:focus
{
	border: 1px solid #7ac0da;
}

input[type="checkbox"]
{
	background: transparent;
	border: inherit;
	width: auto;
}

input[type="submit"], input[type="button"], button
{
	background-color: #d3dce0;
	border: 1px solid #787878;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: 600;
	padding: 7px;
	margin-right: 8px;
	width: auto;
}

td input[type="submit"], td input[type="button"], td button
{
	font-size: 1em;
	padding: 4px;
	margin-right: 4px;
}

/* info and errors */
.message-info
{
	border: 1px solid;
	clear: both;
	padding: 10px 20px;
}

.message-error
{
	clear: both;
	color: #e80c4d;
	font-size: 1.1em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.message-success
{
	color: #7ac0da;
	font-size: 1.3em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.error
{
	color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error
{
	color: #e80c4d;
	font-weight: bold;
}

.field-validation-valid
{
	display: none;
}

input.input-validation-error
{
	border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
	border: 0 none;
}

.validation-summary-errors
{
	color: #e80c4d;
	font-weight: bold;
	font-size: 1.1em;
}

.validation-summary-valid
{
	display: none;
}


/* tables
----------------------------------------------------------*/
table
{
	border-collapse: collapse;
	border-spacing: 0;
	border: 0 none;
}

caption 
{
	text-align: center;
	font-weight: bold;
}

th
{
	/*font-size: 1.2em;*/
	text-align: left;
	font-size: 0.8em;
	border: none 0px;
	padding-left: 0;
}

th a
{
	display: block;
	position: relative;
}

th a:link, th a:visited, th a:active, th a:hover
{
	color: #333;
	font-weight: 600;
	text-decoration: none;
	padding: 0;
}

th a:hover
{
	color: #000;
}

th.asc a, th.desc a
{
	margin-right: .75em;
}

th.asc a:after, th.desc a:after
{
	display: block;
	position: absolute;
	right: 0em;
	top: 0;
	font-size: 0.75em;
}

th.asc a:after
{
	content: '▲';
}

th.desc a:after
{
	content: '▼';
}

td
{
	padding: 0.25em 1em 0.25em 0em;
	border: 0 none;
	text-align: left;
}

tr.pager td
{
	padding: 0 0.25em 0 0;
}


/* jQuery UI
----------------------------------------------------------*/

.ui-corner-all
{
	background: #FFFFFF;
}







/***************************************************************************/
/***************************** CUSTOM STYLES *******************************/
/***************************************************************************/

/* Home / Shared
----------------------------------------------------------*/

ul.menu li a.current-page
{
	background-color: #EFEEEF;
	color: #333;
	text-decoration: none;
}
.welcome 
{
	font-size: 1.8em;
	font-weight: bold;
}
.dd-sub-title
{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 12px;
}
.ui-button-text 
{
	font-size: 0.9em;
}
.ui-autocomplete li 
{
	font-size: 16px;
}
.draft-info
{
	text-align: center;
	font-size: 14px;
}

/* Owner Styles
----------------------------------------------------------*/

.brian
{
	/* light green */
	border-color: #00FF00;
}
.dave
{
	/* orange */
	border-color: #FF612B;
}
.hawkeman
{
	/* aqua */
	border-color: #19E1CC;
}
.jen
{
	/* pink */
	border-color: #FFA5FF;
}
.jeremiah
{
	/* yellow */
	border-color: #FFE100;
}
.joey
{
	/* gray */
	border-color: #B2B2B2;
}
.meat
{
	/* dark blue */
	border-color: #638BE7;
}
.pohlmann
{
	/* red */
	border-color: #FF0000;
}
.shannon
{
	/* brown */
	border-color: #C58A4F;
}
.steve
{
	/* green */
	border-color: #50A57F;
}
.heckler
{
	/* purple */
	border-color: #551A8B;
}
.holda
{
	/* maroon */
	border-color: #B00000;
}
.trevor
{
	/* yellow */
	border-color: #FFE100;
}
.mitchell
{
	/* brown */
	border-color: #C58A4F;
}

.you 
{
	font-weight: bold;
}
.you .ba-player-name 
{
	font-size: 14px !important;
}

/* Draft Display
----------------------------------------------------------*/
#draftDisplay
{
	text-align: center;
	font-size: 15px;
}
.round-picks
{
	display: block;
	white-space: nowrap;
}
.round
{
	clear: both;
	padding: 2px 1px 1px 8px;
	font-size: 10px;
	text-align: left;
}

.round-num
{
	font-weight: bold;
}

.outline
{
	border: 1px solid black;
}

.draft 
{
	display: inline-block;
	text-align: left;
	margin-top: 12px;
}

.draft-pick-outline
{
	clear: both;
	display: inline-block;
	float: none;
	margin-right: -4px;
	vertical-align: top;
}
.snake-pick
{
	clear: none;
	float: right;
	margin-right: 0px;
}
.pre-snake-pick 
{
	margin-right: 0px;
}
.round-buffer 
{
	margin-right: 1px;
}

.draft-pick
{
	float: none;
	border-width: 3px;
	border-style: solid;
	padding: 1px;
	width: 115px;
	white-space: normal;
}

.draft-pick.filled
{
	height: 49px;
}

.draft-pick-meta
{
	font-size: 10px;
	font-weight: normal;
}

.pick-info
{
	float: left;
	margin-right: 2px;
}

.player-info
{
	float: right;
}

.pos
{
	float: right;
	font-size: 11px;
	font-weight: bold;
}

.player-name
{
	display: block;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
}


/* Draft Team Display
----------------------------------------------------------*/

.team-content
{
	text-align: center;
	margin-top: 18px;
	white-space: nowrap;
}

.team-name
{
	float: left;
	border-width: 3px;
	border-style: solid;
	padding: 1px;
	width: 115px;
	text-align: center;
}

.team-draft-pick
{
	float: left;
	border-width: 3px;
	border-style: solid;
	padding: 1px;
	min-width: 66px;
	width: 115px;
	white-space: normal;
}

.team-name-outline
{
	margin-bottom: 10px;
}

.team
{
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	margin-bottom: 30px;
}

#teamDisplay .outline 
{
	display: block;
	float: left;
}

/* Draft Pick
----------------------------------------------------------*/
.buttons
{
	margin-top: 5px;
}

#playerEntry, #playerEntry .draft-info
{
	margin-bottom: 19px;
}

.your-draft-pick
{
	margin-bottom: 10px;
}

.pick-glance
{
	width: 275px;
	display: inline-block;
}

.current-pick
{
	font-weight: bold;
}

.navLink 
{
	margin-right: 6px;
}
.draft-glance 
{
	margin-bottom: 19px;
}

/* Best Available / Player Rankings
----------------------------------------------------------*/
#bestAvailable, #allPlayerRanks
{
	text-align: center;
}

.ba-rankings 
{
	white-space: nowrap;
}

.rank-header, .rlist-header
{
	text-align: center;
	margin-top: 18px;
	margin-bottom: 12px;
}
.rank-name, .rankings-list
{
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 8px;
}
.more-rank-opts 
{
	font-size: 0.9em;
}

.ba-category 
{
	display: inline-block;
	margin-right: 10px;
}

.ba-category 
{
	vertical-align: top;
}

.ba-category tbody 
{
	border: 1px solid black;
}

.ba-category th 
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.ba-category th:first-child, .ba-category td:first-child {
	padding-left:3px;
}

.ba-category tr:first-child {
	background-color: #DFDFDF;
}

.expand 
{
	text-align: center;
	background-color: #DFDFDF;
}
.ba-draft-team
{
}
.ba-selected
{
	font-size: 0.8em;
	text-decoration: line-through;
	border-width: 2px;
	border-style: solid;
	background-color: #DFDFDF;
}


/* RankingsList / Setup Rank
----------------------------------------------------------*/
.note-text 
{
	font-size: 11px;
}
#setupRank 
{
	text-align: center;
}
.rlist-entries
{
	margin-top: 12px;
}
.personal-rank-name
{
	font-size: 1.0em;
	margin-top: 2px;
	margin-bottom: 12px;
}
.personal-rank-name input
{
	font-size: 1.0em;
	width: 255px;
}
.rname-input-div 
{
	display: inline;
}
.rank-setup-section 
{
	display: inline-block;
	margin: 12px 0px 12px 0px;
}
.rank-vertical-controls, .ranked-player, .rank-change-controls, .rank-move-to
{
	float: left;
}
.rank-vertical-controls 
{
	width: 16px;
	font-size: 0px;
}
.rank-change-controls
{
	width: 38px;
	white-space: nowrap;
}
.rank-change-controls img
{
	vertical-align: middle;
}
.rank-move-up, .rank-move-up img
{
	vertical-align: bottom;
}
.rank-move-down, .rank-move-down img
{
	vertical-align: top;
}
.ranked-player 
{
	margin: 0px 2px 0px 2px;
}
.player-rank-num 
{
	width: 24px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}
.player-select 
{
	display: inline-block;
	width: 230px;
}
span.player-select 
{
	font-size: 15px;
}
.messages-ph
{
	min-height: 19px;
}
.rank-saved 
{
	color: #FF3300;
}
.invalid 
{
	color: #FF0000;
}
.invalid-border 
{
	border: 2px solid #FF0000;
}
.rank-copy-select 
{
	max-width: 240px;
}
.copy-row-count 
{
	width: 35px;
}
#addNewPlayerDialog 
{
	font-size: 0.80em;
}
#addNewPlayerDialog label 
{
	font-size: 1.0em !important;
	font-weight: bold;
}
#addNewPlayerDialog .ui-button-text 
{
	font-size: 0.9em;
}
#addNewPlayerDialog .field-validation-error 
{
	display: block;
	font-size: 12px;
}
/* Setup Draft
----------------------------------------------------------*/

#setupDraft .draft
{
	margin-top: 12px;
}
#setupDraft select 
{
	width: 77px;
	font-size: 11px;
}
#setupDraft .round-picks
{
	display: block;
}
#setupDraft .round
{
	font-size: 13px;
}
#setupDraft .round img
{
	vertical-align: bottom;
}

#setupDraft .setup-pick-outline
{
	clear: both;
	display: inline-block;
	float: none;
	margin-right: 2px;
	vertical-align: middle;
	width: 113px;
}
#setupDraft .setup-pick-outline img
{
	margin: 0px;
	padding: 0px;
}
#setupDraft .pick-num 
{
	display: inline-block;
	font-family: Arial;
	font-size: 10px;
	width: 18px;
	text-align: right;
}
#setupDraft .buttons 
{
	margin-top: 10px;
}
.hide-yo-kids, .hide-yo-wives
{
	display: none;
}
.hide-yo-husbands-too
{
	visibility: hidden;
}
.round-picks img 
{
	vertical-align: middle;
}


/* Manage/Add Leagues
----------------------------------------------------------*/
#addLeague label
{
	font-size: 14px;
	display: inline-block;
}

#addLeague page-entries
{
	width: 350px;
	margin: 0 auto;
}

#addLeague .num-input
{
	width: 20px;
}

.league-name, .lo-team-input
{
	width: 172px;
}

.lo-team-input {
	margin: 2px 0px;
}

.lo-select {
	width: 145px;
}

.league-owner, .lo-team-name, .owner-controls, .lo-active {
	display: inline-block;
}

.lo-owner-header, .lo-teamname-header, .lo-active-header {
	display: inline-block;
}

.league-owner-entry {
	min-width: 470px;
}

.lo-entry-header {
	display: block;
}

.lo-owner-header {
	width: 145px;
}
.lo-teamname-header {
	width: 177px;
}
.lo-controls-header {
	width: 32px;
}

.owner-controls, .lo-active {
	width: 40px;
}

.lo-teamname-header, .lo-active-header, .lo-controls-header, 
.lo-team-name, .lo-active, .owner-controls {
	margin-left: 5px;
}
/* RESPONSIVE STYLES
   Display
----------------------------------------------------------*/

@media screen and (max-width: 600px)
{
	ul.menu li.desktopNav {
		display: none;
	}
	ul.menu li.mobileNav {
		display: inline;
	}
	.draft
	{
		margin-top: 5px;
	}
	.draft, .round
	{
		text-align: center;
	}
	.round-picks
	{
		margin-bottom: 12px;
	}
	.draft-pick-outline, .team-name-outline
	{
		display: block;
		float: none;
		margin-right: 0px;
	}
	.snake-pick
	{
		float: none;
		margin-right: 0px;
	}
	.pre-snake-pick 
	{
		margin-right: 0px;
	}
	.round-buffer 
	{
		margin-right: 0px;
	}
	.draft-pick
	{
		float: none;
		width: 202px;
	}
	.draft-pick.filled
	{
		height: auto;
	}
	.team-content 
	{
		white-space: normal;
	}
	.glance 
	{
		display: block;
		clear: both;
	}
	.pick-glance 
	{
		display: block;
		width: 100%;
	}
	.team-glance 
	{
		display: block;
		margin-left: 12px;
	}
	.current-pick 
	{
		margin-top: 8px;
		margin-bottom: 8px;
	}
	/* Best Available
	------------------------------------*/
	table
	{
		margin: auto;
		max-width: 265px;
	}
	.ba-category 
	{
		display: block;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.ba-category td {
		max-width: 130px;
		white-space: normal;
	}
	/* Setup Draft
	------------------------------------*/
	#setupDraft .draft, .round
	{
		text-align: left;
	}
	#setupDraft .draft-pick-outline, #setupDraft .team-name-outline
	{
		display: inline-block;
	}
	#setupDraft .round-picks
	{
		margin-bottom: 0px;
	}
	/* Ranks
	------------------------------------*/
	.rname-input-div 
	{
		display: block;
	}
	.player-rank-entry 
	{
		min-width: 280px;
	}
	.player-select
	{
		width: 190px;
	}
	span.player-select 
	{
		font-size: 13px;
	}
	.personal-rank-name input
	{
		width: 250px;
	}
}




/* Bootstrap Nav/Dropdown styles
----------------------------------------------------------*/

.navbar-nav > li {
	float: left;
	margin-left: 5px;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.open > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  right: -43px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

@media (max-width: 600px) {
  ul.navbar-nav {
	padding-left: 0px;
  }
  ul.navbar-nav > li {
    display: block;
	float: none;
	margin-top: 10px;
	margin-left: 0px;
	padding-left: 0px;
  }
	.navbar-collapse {
		padding-right: 0px;
	}
	.navbar-collapse .menu {
		float: none;
		padding-bottom: 14px;
	}
	.nav > li > a {
		padding-right: 49px;
	}

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
	text-align: right;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
	padding-right: 53px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
